* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #fff;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h3 {
  padding: 1rem 1rem 0;
  color: #0077b6;
}
h3 span {
  color: #023e8a;
}
.cardlist {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* width: 30%; */
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.card p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  color: white;
  background-color: #03045e;
}

@media screen and (max-width: 480px) {
  .cardlist {
    padding: 0.5rem 5px;
  }
  .card {
    width: 45%;
  }
  .card p {
    font-size: 12px;
  }
}
